
<div class="plan-detail">
    <div class="row">
        <div class="col-md-5">
            <div class="jumbotron user-panel">
                <h6><span translate>Destination</span>: <span class="text-primary">{{plan.destName}}</span></h6>
                <h6><span translate>Date</span>: <span class="text-primary">{{plan.startDate | dateParse | date:'MM/dd/yyyy'}} - {{plan.endDate | dateParse | date:'MM/dd/yyyy'}}</span></h6>
            </div>

            <section id="cd-timeline" class="cd-container">
                <div class="cd-timeline-block" ng-repeat="activity in plan.activities | orderBy: 'start'">
                    <div class="cd-timeline-img" ng-class="{
                        'cd-location': activity.activitiesType === 'restaurants',
                        'cd-movie': activity.activitiesType === 'hotels',
                        'cd-picture': activity.activitiesType === 'attractions'
                        }">
                        <i class="fa" ng-class="{
                        'fa-coffee': activity.activitiesType === 'restaurants',
                        'fa-bed': activity.activitiesType === 'hotels',
                        'fa-camera': activity.activitiesType === 'attractions'
                        }"></i>
                    </div>
                    <!-- cd-timeline-img -->

                    <div class="cd-timeline-content">
                        <h2>{{activity.start | dateParse | date:'MM/dd/yyyy @ h:mma'}}</h2>
                        <h4><a ng-href="#/venues/{{activity.venue.id}}">{{activity.venue.name}}</a></h4>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-map-marker"></i>
                                <span ng-repeat="address in activity.venue.location.formattedAddress | limitTo: 2">{{address}} <br/> </span>
                            </small>
                        </p>
                    </div>
                    <!-- cd-timeline-content -->
                </div>
                <!-- cd-timeline-block -->
            </section>
            <!-- cd-timeline -->

        </div>
        <div class="col-md-7">
            <p class="map-bug-claim" translate>
                The Angular-Google-Maps library has a bug: one of the markers will hang around when map changes
                (<a ng-href="https://github.com/angular-ui/angular-google-maps/issues/904">issue #904</a>).
                 We will try to fix it in the next version. Thanks!
            </p>
            <!--google map show route-->
            <div id="plan_map_canvas" ng-controller="PlanMapCtrl">
                <ui-gmap-google-map class="planMap" center="map.center" zoom="map.zoom"
                                    options="map.options" bounds="map.bounds">
                    <ui-gmap-markers models="markerList" coords="'self'"
                                     icon="'icon'" click="'onClicked'"
                                     options="'options'" fit="'true'" doCluster="false"
                                     doRebuildAll="true">
                        <ui-gmap-windows
                                closeclick="'closeClick'"
                                ng-cloak=""
                                show="'showWindow'"
                                options="{
                                    disableAutoPan: true
                                }">
                            <div ng-non-bindable>
                                {{$index}}
                                {{message}}
                            </div>
                        </ui-gmap-windows>
                    </ui-gmap-markers>
                    <ui-gmap-polyline path="markerList" stroke="{color: '#ff6262', weight: 5}"></ui-gmap-polyline>
                </ui-gmap-google-map>

            </div><!--div for map canvas-->
        </div>
    </div><!--close row-->
</div><!--close container-->
