<div class="container-fliud">

    <div class="jumbotron user-panner">
        <h4>Plan: {{plan.destName}}</h4>
        <h4>{{plan.startDate}}</h4>
        <h4>{{plan.endDate}}</h4>
    </div>

    <div class="container">
        <h4>Activities:</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="well" ng-repeat="activity in plan.activities">
                    <h5>{{activity.activitiesType}}</h5>
                    <!--<h4>{{activity.start}}</h4>-->
                    <!--<h4>{{activity.end}}</h4>-->
                    <h4><a ng-href="#/venues/{{activity.venue.id}}">{{activity.venue.name}}</a></h4>
                </div>
            </div>
            <div class="col-sm-6">
                <!--google map show route-->
                <div id="map_canvas" ng-controller="PlanMapCtrl">
                    <ui-gmap-google-map class="planMap" center="map.center" zoom="map.zoom"
                                        options="map.options" bounds="map.bounds">

                        <ui-gmap-markers models="markerList" coords="'self'"
                                         icon="'icon'" click="'onClicked'"
                                         options="'options'" fit="'true'" doCluster="false">
                            <ui-gmap-windows
                                    closeclick="'closeClick'"
                                    ng-cloak=""
                                    show="'showWindow'"
                                    options="{
                                        disableAutoPan: true
                                    }">
                                <div ng-non-bindable>
                                    {{$index}}
                                    {{message}}
                                </div>
                            </ui-gmap-windows>
                        </ui-gmap-markers>

                        <ui-gmap-polyline path="markerList" stroke="{color: '#ff6262', weight: 5}"></ui-gmap-polyline>

                    </ui-gmap-google-map>

                </div>


            </div>

        </div>
    </div>







</div>