<div class="modal-body container-fluid">
    <div class="venue-details-header">
        <header>
            <h3>{{venue.name}}</h3>
        </header>
        <div class="venue-address">
            
        </div>
        <div class="venue-categories">
            <span class="venue-category-icon" ng-repeat></span>
        </div>
        <div class="venue-stats">
            <div class="venue-stat-rating">
                
            </div>
            <div class="venue-stat-checkins">

            </div>
            <div class="venue-stat-likes">
                
            </div>
        </div>
    </div>
    <div class="venue-details-photos">
        <div class="photo-main-display">
            
        </div>
        <ul class="photo-thumbnails">
            <li class="photo-thumbnail-item" ng-repeat></li>
        </ul>
    </div>
    <div class="venue-details-body">
        <div class="venue-map">
            
        </div>
        <ul class="venue-tips">
            <li class="venue-tip-item">
                
            </li>
        </ul>
    </div>
</div>
