
.body-container {
  margin: 10px;
  height: 100%;
}
.container {
  margin: 10px 10px 20px;
}

.bg-restaurant {
  background-color: #f0ca45 !important;
}

.bg-attraction {
  background-color: #1abc9c !important;
}

.bg-hotel {
  background-color: #c03b44 !important;
}

/************** Plans page  *****************/

.plan-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: dimgrey;
  color: #fff;
  text-align: center;
}

.plan-char {
  color: #fff !important;
  font-size: larger !important;
  font-weight: bolder;
  margin-top: 10px;
}

.activity-icon {
  font-size: 25px;
  padding-top: 7px;
}


/************** Plan detail page  *****************/
.day-btn-clicked {
  background-color: #1abc9c;
  color: #fff;
  font-weight: bolder;
}
#plan-detail-map {
  height: 98%;
}

#plan_map_canvas {
  height: 100% !important;
  width: 100%;
}

.scroll {
  height: 100%;
}

.pull-top-right {
  position: absolute;
  right: 3%;
  top: -1%;
}

.loc-pull-right {
  position: absolute;
  right: 3%;
  top: 5%;
  z-index: 999;
}

.dest-input {
  max-width: 5%;
}

.plan-name {
  max-height: 10%;
}

/**************** next trip styling  ******************/
.next-trip-icon {
  margin: 10px 10px 10px 5px;
  font-size: 30px;
  color: #1abc9c;
  width: 30px;
  text-align: center;
}

.next-trip-card {
  border: solid 1px #1abc9c;
}

.acitvity-text {
  width: 80%;
}

.stat-num {
  font-size: 25px !important;
}

.text-small {
  font-size: 12px !important;
}

.align-right-tight {
  margin-right: -5px;
  margin-left: -5px;
}

/**************** sliders styling  ******************/
.slider {
  min-height: 85% !important;
  height: 85% !important;
}

.slider-slide > div {
  margin: 50% auto;
}

h2.app-title {
  font-size: 4em;
}

.app-tagline {
  font-size: 1.5em;
  margin: 45% 10%;
}

.slide-subtitle {
  font-size: 15px;
}

.welcome-btns {
  height: 55px;
  background: #149c82;
  padding: 0;
  margin: 0;
}

.welcome-btns a.welcome {
  width: 50%;
  background: #149c82;
  color: white;
  font-size: 1.1em;
  border: 1px solid white;
  border-radius: 0;
  padding-top: 2%;
  position: relative;
}

.bar > .button + .button:last-child {
  top: 0;
  right : 0;
  bottom: 0;
}

.icon.ion-record {
  color: white;
}

.slider-pager {
  bottom: 60px;
  font-size: 0.7em;
}
