.body-container {
  margin: 10px;
  height: 100%;
}
.container {
  margin: 10px 10px 20px;
}

.bg-restaurant {
  background-color: #f0ca45 !important;
}

.bg-attraction {
  background-color: #1abc9c !important;
}

.bg-hotel {
  background-color: #c03b44 !important;
}

/************** Plans page  *****************/
.plan-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: dimgrey;
  color: #fff;
  text-align: center;
}

.plan-char {
  color: #fff !important;
  font-size: larger !important;
  font-weight: bolder;
  margin-top: 10px;
}

.activity-icon {
  font-size: 25px;
  padding-top: 7px;
}

/************** Plan detail page  *****************/
.day-btn-clicked {
  background-color: #1abc9c;
  color: #fff;
  font-weight: bolder;
}
#plan-detail-map {
  height: 98%;
}

#plan_map_canvas {
  height: 100% !important;
  width: 100%;
}

.scroll {
  height: 100%;
}

.pull-top-right {
  position: absolute;
  right: 3%;
  top: -1%;
}

.loc-pull-right {
  position: absolute;
  right: 3%;
  top: 5%;
  z-index: 999;
}

.dest-input {
  max-width: 5%;
}

.plan-name {
  max-height: 10%;
}

/**************** sliders styling  ******************/
.slider {
  min-height: 85% !important;
  height: 85% !important;
}

.slider-slide > div {
  margin: 50% auto;
}

h2.app-title {
  font-size: 4em;
}

.app-tagline {
  font-size: 1.5em;
  margin: 45% 10%;
}

.slide-subtitle {
  font-size: 15px;
}

.welcome-btns {
  height: 55px;
  background: #149c82;
  padding: 0;
  margin: 0;
}

.welcome-btns a.welcome {
  width: 50%;
  background: #149c82;
  color: white;
  font-size: 1.1em;
  border: 1px solid white;
  border-radius: 0;
  padding-top: 2%;
  position: relative;
}

.bar > .button + .button:last-child {
  top: 0;
  right : 0;
  bottom: 0;
}

.icon.ion-record {
  color: white;
}

.slider-pager {
  bottom: 60px;
  font-size: 0.7em;
}

/**************** login + signin page styling  ******************/
.login-page, .signup-page {
  background: #363951;
}

.login-page input, .signup-page input {
  color: white;
}

.login-page .heading {
  margin: 80px auto 60px;
}

.signup-page .heading {
  margin: 38px auto 45px;
}

.heading h1 {
  margin-top: 8px;
}

.heading * {
  color: white;
}

.login-page .list-inset, .signup-page .list-inset {
  margin: 10px 14px;
  background: none;
}

.login-page .list-inset .item-input, .signup-page .list-inset .item-input {
  background-color: #4A4F70;
  border: 1px solid #262839;
  color: white;
}

.login-btn.button-block {
  background: #1ABC9C;
  color: white;
  border: none;
  width: 97%;
  margin: 5px auto;
}

.login-page i, .signup-page i {
  font-size: 1.5em;
  padding-right: 10px;
  color: #989DBB;
}

p.link {
  margin-top: 30px;
  color: #989DBB;
  font-size: 0.9em;
}

a.link {
  color: #1ABC9C;
  text-decoration: none;
  text-transform: uppercase;
}

input:-moz-placeholder, input::-webkit-input-placeholder {
  color: #989DBB;
}

/**************** user profile styling  ******************/
.account, .home {
  margin-top: 25px;
  background: #F4F4F8;
  color: #4A4F70;
}

span.vers {
  float: right;
  padding-right: 20px;
  color: #989DBB;
}

.account .icon {
  margin: 8px 10px;
  max-height: 70%;
  padding: 4px;
  border-radius: 10px;
  color: white;
  font-size: 1.5em;
}

.ion-social-twitter {
  background: #55ACEE;
}

.ion-social-facebook {
  background: #3B5998;
}

.ion-social-googleplus {
  background: #DD4B39;
}

.account .item {
  line-height: 20px;
}

.account span.title {
  padding-left: 20px;
  color: #4A4F70;
}

.account .list p {
  margin-left: 20px;
  text-transform: uppercase;
  color: #4A4F70;
}

.col.email h3{
  margin: 15% auto;
  text-align: left;
}

.account .list .item.vers {
  padding-left: 20px;
}

.account .button-block {
  background: #1ABC9C;
  border: 1px solid #979797;
  color: white;
}

.account .list {
  margin-bottom: 10px;
}

.toggle.toggle-custom input:checked + .track {
  background: #1ABC9C;
  border-color: #1ABC9C;
}

.account img {
  border-radius: 50px;
}

/**************** itravel home styling  ******************/
.home .col.email h3{
  margin: 18px auto;
  padding: 0;
}

#plan-stat {
  margin: -15px -5px;
}

#plan-stat .col {
  margin: 0 10px;
  border-radius: 5px;
  color: white;
  padding: 0;
}

#plan-stat .col .count {
  padding-top: 10px;
  font-size: 2em;
}

#plan-stat .col .count-tag {
  margin-bottom: -2px;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 3px;
}

#plan-stat .col:nth-of-type(1) {
  background: #F39C12;
}

#plan-stat .col:nth-of-type(2) {
  background: #E74C3C;
}

#plan-stat .col:nth-of-type(3) {
  background: #3498DB;
}

#plan-stat .col:nth-of-type(1) .count-tag {
  background: #E67E22;
}

#plan-stat .col:nth-of-type(2) .count-tag {
  background: #C0392B;
}

#plan-stat .col:nth-of-type(3) .count-tag {
  background: #2980B9;
}

.home .plan-new-btn {
  background: #1ABC9C;
  color: white;
}

#next-trip {
  margin: 25px 10px 5px;
  background: white;
  border: 1px solid #C1C4D6;
  border-radius: 5px;
  padding: 15px 10px 2px;
}

#next-trip h3 {
  color: #4A4F70;
}

#next-trip .row {
  margin: 5px auto;
}

#next-trip .icon {
  font-size: 1.7em;
  padding: 8px 10px;
  color: white;
  border-radius: 50px;
  text-align: center;
  width: 40px;
  height: 41px;
}

#next-trip .ion-paper-airplane {
  background: #F39C12;
}

#next-trip .ion-calendar {
  background: #1ABC9C;
}

#next-trip .ion-location {
  background: #344E5F;
}

#next-trip .row h4 {
  margin: 10px;
  color: #9B9B9B;
}

#next-trip .ion-chevron-right {
  background: none;
  border: none;
  margin: 0 0 0 100px;
  color: #1ABC9C;
  font-size: 2em;
}

/**************** top nav tabs styling  ******************/
.tab-nav {
  background: #4A4F70;
}

.tab-nav * {
  color: white;
}

.tab-item-active * {
  color: #1ABC9C;
}

/**************** bottom nav tabs styling  ******************/
.nav-bar-container * {
  background: #1ABC9C !important;
  height: 75px;
}

.nav-bar-container .title {
  margin-top: 25px;
  background: none;
  padding: 0;
  font-size: 2em;
}
