
/* ==========================================================================
   reusable CSS classes namespaced with rd(radapter)
   ========================================================================== */

/* allow transition for all properties */
.rd-transition-all {
	transition: all 0.5s;
}

.rd-transition-all.rd-top-n100 {
	top: -100px;
}

.rd-clickable-text {
	display: inline-block;
	cursor: pointer;
}

/*  */
.rd-bfc {
	overflow: hidden;
	zoom: 1;
}