
/* ==========================================================================
   reusable CSS classes namespaced with rd(radapter)
   ========================================================================== */

/* allow transition for all properties */
.rd-transition-all {
	transition: all 0.5s;
}

.rd-transition-all.rd-top-n100 {
	top: -100px;
}

.rd-clickable-text {
	display: inline-block;
	cursor: pointer;
}

/* blcok format container */
.rd-bfc {
	overflow: hidden;
	zoom: 1;
}

.rd-full-height {
	height: 100%;
}

.rd-stretch-vertically {
	position: relative;
	top: 0;
	bottom: 0;
} 


/* overwrite bootstrap grid padding between columns */
.row-no-space {
	padding: 0px;
}
.row-no-space > [class^='col-'] {
	margin: 0px;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}