/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.jumbotron{
  padding: 10px 0px;
}

/******************* Footer styling   **********************/
.footer-list ul{
  list-style: none;
}


/******************* Login styling   **********************/
/*override login-field-icon*/
.login-form .login-field-icon {
  font-size: 22px;
  top:10px;
  right: 25px;
}