/*********** to working with navbar fixed top & footer***********/

/*stick footer*/
html {
    position: relative;
    min-height: 100%;
}
body {
    /*padding-top: 60px;*/
    /* Margin bottom by footer height */
    margin-bottom: 350px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 200px;*/
    /*background-color: #464545;*/
}

/*.container {*/
/*margin-top: 40px;*/
/*}*/

.footer-container {
    margin-top: 10px;
}


.jumbotron{
    padding: 10px 0px;
}

/*********************** Page styling*************************/
.container-fluid {
  margin-top: 10px;
}

/******************* Footer styling   **********************/
.footer-list ul{
  list-style: none;
}


/******************* Landing styling   **********************/

.top-nav-collapse{
  background-color: rgba(24, 188, 156, 0.55);
}

.header {
  display: table;
  position: relative;
  width: 100%;
  height: 900px;
  background: url(../img/landing/sky.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vertical-center h1 {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}

.text-vertical-center h3 {
  color: #FFFFFF;
}

/*landing form*/
.landing-form{
  width:40%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

/*How it works panner*/
.content {
  /*width: 90%;*/
  margin: 40px;
  text-align: center;
}



.upperhead {
  margin-bottom: 3%;
  border-bottom: 1px solid #34495e;
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  padding-bottom: 5px;
  font-weight: 600;
  margin-top: 3%;
}
.panelTitle,
.panelIcon {
  margin: 30px;
}

.panelTitle {
  color: #1abc9c;
}

.step h5 {
  margin: 10px;
}

.step p{
  margin: 10px;
  /*text-align:left;*/
}


/******************* Login styling   **********************/
/*override login-field-icon*/
.login-form .login-field-icon {
  font-size: 22px;
  top:10px;
  right: 25px;
}

/******************* Maps styling   **********************/
#map-canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
  margin: 2% auto;
}

