<div class="jumbotron contact">
    <div class="container-fluid" data-sr-container='{"reset":true, "vFactor": 0.2}'>
        <h3 class="text-center" data-sr="enter top over 1s">Contact</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h4 data-sr="enter left and move 50px over 0.8s">Team Members</h4>
                <div class="row" data-sr="enter right and move 80px over 1s">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-sm-4 col-xs-12">
                                Jennifer Wu
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                jenn.j.wu [at] gmail [dot] com
                                <br>
                                <a href="https://www.linkedin.com/in/jennjwu" target="_blank">
                                    <i class="fa fa-linkedin-square fa-2x"></i>
                                </a>
                                <a href="https://github.com/jennjwu" target="_blank">
                                    <i class="fa fa-github-square fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-sr="enter left and move 80px over 1s">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-sm-4 col-xs-12">
                                Xiaoli Jiang
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                jiangxiaoli1104 [at] gmail [dot] com
                                <br>
                                <a href="https://www.linkedin.com/in/jiangxiaoli" target="_blank">
                                    <i class="fa fa-linkedin-square fa-2x"></i>
                                </a>
                                <a href="https://github.com/jiangxiaoli" target="_blank">
                                    <i class="fa fa-github-square fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-sr="enter right and move 80px over 1s">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-sm-4 col-xs-12">
                                Tuo Lei
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                leituo56 [at] gmail [dot] com
                                <br>
                                <a href="https://www.linkedin.com/in/leituo" target="_blank">
                                    <i class="fa fa-linkedin-square fa-2x"></i>
                                </a>
                                <a href="https://github.com/leituo56" target="_blank">
                                    <i class="fa fa-github-square fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row" data-sr="enter left and move 80px over 1s">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="col-sm-4 col-xs-12">
                                Yulin Ye
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                yulinye.yy [at] gmail [dot] com
                                <br>
                                <a href="https://www.linkedin.com/in/yulinye" target="_blank">
                                    <i class="fa fa-linkedin-square fa-2x"></i>
                                </a>
                                <a href="https://github.com/yye0528" target="_blank">
                                    <i class="fa fa-github-square fa-2x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
