<div class="jumbotron">
    <div class="container-fluid">
        <h3 class="text-center">Privacy Policy</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <p>We make every effort to protect users' privacy and sensitive information. We never
                ask for more information than we need and we do not share users' information without
                their explicit permission.</p>
                <p>We do not sell users' information to third party advertisers. Any information calculated
                and stored regarding our users are for personalization purposes only. In an effort to provide
                the best personalizability travel service, iTravel stores a users' travel history and
                    travel preferences.</p>
            </div>
        </div>
    </div>
</div>
