<div class="jumbotron">
    <div class="container-fluid">
        <h3 class="text-center">Technologies</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <ul>
                    <li>Frameworks
                        <ul>
                            <li>AngularJS</li>
                            <li>NodeJS</li>
                            <li>Express</li>
                            <li>GulpJS</li>
                        </ul>
                    </li>
                    <li>Testing
                        <ul>
                            <li>Mocha</li>
                        </ul>
                    </li>
                    <li>Version Control
                        <ul>
                            <li>Git</li>
                        </ul>
                    </li>
                    <li>Package Management
                        <ul>
                            <li>Bower</li>
                            <li>NPM</li>
                        </ul>
                    </li>
                    <li>Front-end
                        <ul>
                            <li>Bootstrap</li>
                            <li>Flat UI Kit Free</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
