<div data-sr-container='{"reset":true, "vFactor": 0.2}' class="tech">

    <div class="jumbotron">
        <div class="container">
            <div class="content">
                <h3 class="text-center">MEAN STACK</h3>
                <div class="row">
                    <div class="col-xs-6 text-center">
                        <img src="../../img/tech-imgs/mean_vertical.png">
                    </div>
                    <div class="col-xs-6 stack">
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-1">
                                <h6>MongoDB</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-xs-offset-2">
                                <h6>Express</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <h6>AngularJS</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-4">
                                <h6>NodeJS</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h3 class="text-center">REAL DATA</h3>
            <div class="row data">
                <div class="col-xs-4 col-xs-offset-1">
                    <h5>Powered by Foursquare</h5>
                </div>
                <div class="col-xs-7">
                    <img src="../../img/tech-imgs/foursquare_logo.png" height="80">
                    <img src="../../img/tech-imgs/foursquare.jpg" height="80">
                </div>
            </div>
            <div class="row data">
                <div class="col-xs-5 col-xs-offset-1 text-center">
                    <img src="../../img/tech-imgs/gmaps.jpg" height="150">
                </div>
                <div class="col-xs-6">
                    <h5 style="margin-top: 50px;">And by Google Maps</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="content">
                <h3 class="text-center">MVC ARCHITECTURE</h3>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img src="#" alt="Add diagram here?">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h3 class="text-center">SINGLE PAGE APPLICATION</h3>
            <div class="row">
                <div class="col-xs-12">
                    <p>Add something here</p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="content">
                <h3 class="text-center">SECURITY</h3>
                <div class="row">
                    <div class="col-xs-5 col-xs-offset-1">
                        <h5>Tokens</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-xs-offset-5">
                        <h5>Stateless Authentication</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <h3 class="text-center">PACKAGE MANAGEMENT &amp; AUTOMATION</h3>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-4">
                    <h5>NPM (Node Package Manager)</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-11 col-xs-offset-1">
                    <h5>Bower (Frontend Component Manager)</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-6">
                    <h5>GulpJS (Automated Build)</h5>
                </div>
            </div>
        </div>
    </div>

</div>