<div data-sr-container='{"reset":true, "vFactor": 0.2}' class="tech">

    <div class="jumbotron stack">
        <div class="container">
            <div class="content">
                <div class="row section-heading">
                    <div class="col-xs-12" data-sr="enter top over 1.1s">
                        <h3 class="text-primary text-left">iTravel STACK</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div data-sr="enter left and move 50px over 0.9s">
                            <img src="../../img/tech-imgs/mongodb.png" alt="mongodb" class="img img-rounded">
                            <h6>
                                MongoDB
                            </h6>
                            <p>Highly scalable NoSQL database great for storing JSON data</p>
                        </div>

                        <div data-sr="enter bottom and move 80px over 1.5s">
                            <img src="../../img/tech-imgs/angular.png" alt="angular" class="img img-rounded" style="margin-top: 20px;">
                            <h6>
                                AngularJS
                            </h6>
                            <p>Powerful MVC web framework for rich single page application</p>
                        </div>
                    </div>
                    <div class="col-xs-4 icon" data-sr="enter top and move 80px over 0.5s" style="margin-top: 50px;">
                        <img src="../../img/tech-imgs/mean_vertical.png">
                    </div>
                    <div class="col-xs-4">
                        <div data-sr="enter right and move 80px over 1.2s">
                            <img src="../../img/tech-imgs/express.png" alt="express" class="img-rounded" height="60"  style="margin-top: 20px;">
                            <h6>
                                Express
                            </h6>
                            <p>NodeJS module offering support for routing and HTTP utility methods</p>
                        </div>
                        <div data-sr="enter bottom and ove 60px over 1.8s">
                            <img src="../../img/tech-imgs/nodejs.png" alt="nodejs" class="img-rounded" height="60" style="margin-top: 50px;">
                            <h6>
                                NodeJS
                            </h6>
                            <p>Server-side JS runtime environment with an event-driven architecture</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron bg-inverse">
        <div class="container">
            <div class="content">
                <div class="row section-heading">
                    <h3 data-sr="enter right and move 50px over 1.1s">iTravel
                        <span class="text-uppercase">Uses Real Data</span></h3>
                </div>
                <div class="row" style="height: 100px; margin: 20px 0;" data-sr="enter left and move 80px over 1.4s">
                    <div class="col-xs-4">
                        <h6 class="text-right">Powered by data from Foursquare</h6>
                    </div>
                    <div class="col-xs-8 img">
                        <img src="../../img/tech-imgs/foursquare.png" alt="foursquare logo"
                             class="pull-left img img-rounded">
                    </div>
                </div>
                <div class="row" style="height: 100px; margin: 20px 0;" data-sr="enter right and move 50px over 1.6s">
                    <div class="col-xs-8 img">
                        <img src="../../img/tech-imgs/googlemap.png" alt="google map logo"
                             class="pull-right img img-rounded">
                    </div>
                    <div class="col-xs-4">
                        <h6 class="text-left"><br>And Google Maps API</h6>
                    </div>
                </div>
                <div class="row" style="height: 100px; margin: 80px 0;" data-sr="enter bottom and move 100px over 1.8s">
                    <div class="col-xs-1 col-xs-offset-1">
                        <i class="fa fa-globe fa-5x text-primary pull-right"></i>
                    </div>
                    <div class="col-xs-9">
                        <h5 class="text-primary text-left">
                            To provide venue and mapping data for any location in the world.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron mvc" style="background:white;">
        <div class="container">
            <div class="content">
                <div class="row">
                    <h3 data-sr="enter right and move 100px over 1.1s">Angular MVC Architecture</h3>
                </div>
                <div class="row">
                    <div class="col-sm-7 col-xs-8" data-sr="enter left and move 50px over 1s">
                        <div class="row">
                        <img src="../../img/tech-imgs/angular-mvc.jpg" alt="angular mvc diagram"
                             height="400" class="img-rounded pull-left"></div>
                        <div class="row" style="clear:left;">
                        <p><a href="http://blog.jonasbandi.net/2014/07/angularjs-illustrating-model-view.html"
                              target="_blank">(Source)</a></p></div>
                    </div>
                    <div class="col-sm-5 col-xs-4" data-sr="enter bottom and move 120px over 1.2s">
                        <h5><em>Key Usages in iTravel</em></h5>
                        <div class="row">
                            <p>Two way data binding</p>
                        </div>
                        <div class="row">
                            <p>JS design patterns<br>(Decorator, Facade, Singleton, etc)</p>
                        </div>
                        <div class="row">
                            <p>Services holds view-independent business logic that bridge backend and frontend</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="jumbotron bg-info mgmt">
        <div class="container">
            <div class="content">
                <div class="section-heading" style="margin-bottom: 50px;" data-sr="enter top over 1.5s">
                    <h3>Management, Build &amp; Deployment</h3>
                </div>
                <div class="row">
                    <div class="col-xs-4" data-sr="enter left and move 50px over 1.1s">
                        <img src="../../img/tech-imgs/npm.png" alt="npm logo" class="img img-rounded">
                        <h6>Node Package Manager</h6>
                        <p>Manages all NodeJS modules in a cohesive and consistent manner</p>
                    </div>
                    <div class="col-xs-4" data-sr="enter top and move 80px over 1.2s">
                        <img src="../../img/tech-imgs/bower.png" alt="bower logo" class="img img-rounded">
                        <h6>Bower</h6>
                        <p>Frontend components package manager (similar to NPM)</p>
                    </div>
                    <div class="col-xs-4" data-sr="enter right and move 50px over 1.6s">
                        <img src="../../img/tech-imgs/github.png" alt="github logo" class="img img-rounded">
                        <h6>Github</h6>
                        <p>Source code repository, version control, and bug tracking</p>
                    </div>
                </div>

                <div class="row" data-sr="enter bottom and move 100px over 1.6s">
                    <div class="col-xs-6">
                        <img src="../../img/tech-imgs/gulp.png" alt="gulp logo" class="img img-rounded">
                        <h6>GulpJS</h6>
                        <p>Automated, fast, and easy to use builds</p>
                    </div>
                    <div class="col-xs-6">
                        <img src="../../img/tech-imgs/heroku.jpg" alt="heroku logo" class="img img-rounded">
                        <h6>Heroku</h6>
                        <p>Cloud platform for fast and easy deployment of apps with Git integration</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron other-features">
        <div class="container">
            <div class="content">
                <div class="row section-heading" data-sr="enter left and move 80px over 1s">
                    <h3>Other Features & Libraries</h3>
                </div>
                <div class="row" data-sr="enter right and move 50px over 1.1s">
                    <div class="col-xs-3">
                        <img src="../../img/tech-imgs/flat-ui.png" alt="flat ui" class="img img-rounded">
                        <h6>Flat UI</h6>
                        <p>Bootstrap Theme and User Interface Kit</p>
                    </div>
                    <div class="col-xs-3">
                        <img src="../../img/tech-imgs/font-awesome.png" alt="font awesome" class="img img-rounded">
                        <h6>Font Awesome</h6>
                        <p>Iconic Font and CSS toolkit</p>
                    </div>

                    <div class="col-xs-3">
                        <img src="../../img/tech-imgs/scroll-reveal-js-logo.png" alt="scroll reveal logo" class="img img-rounded">
                        <h6>ScrollRevealJS</h6>
                        <p>JS plugin for element animation on scroll</p>
                    </div>
                    <div class="col-xs-3">
                        <img src="../../img/tech-imgs/UI_Shield_Bootstrap.png" alt="bootstrap ui" class="img img-rounded">
                        <h6>Boostrap UI</h6>
                        <p>Boostrap components written in AngularJS directives</p>
                    </div>
                </div>
                <div class="row" data-sr="enter bottom and move 20px over 0.8s">
                    <div class="col-xs-3">
                        <img src="../../img/tech-imgs/mocha.png" alt="mocha logo" class="img img-rounded">
                        <h6>Mocha</h6>
                        <p>JS test framework</p>
                    </div>
                    <div class="col-xs-3">
                        <img src="../../img/tech-imgs/mongolab.png" alt="mongolab logo" class="img img-rounded">
                        <h6>Mongolab</h6>
                        <p>Cloud-based MongoDB as a service</p>
                    </div>
                    <div class="col-xs-3">
                        <img src="../../img/tech-imgs/mongoose.png" alt="mongoose logo" class="img img-rounded">
                        <h6>Mongoose</h6>
                        <p>MongoDB ODM tool for asynchronous environments</p>
                    </div>
                    <div class="col-xs-3">
                        <img src="../../img/tech-imgs/restapi.png" alt="rest api" class="img img-rounded">
                        <h6>REST API</h6>
                        <p>For easy HTTP requests to iTravel backend. <a href="#/developer">Detailed API</a></p>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>

</div>