    <!--body content-->
    </div><!--close container-fluid from header-->

    <footer>
        <div class="text-center">
            &copy; Radapter Team, Spring 2015
        </div>
    </footer>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!--Assignment JS file-->
    <!--<script src="js/scripts.js"></script>-->

    </body>
</html>