    <!--body content-->
    </div><!--close container-fluid from header-->

    <footer>
        <div class="text-center">
            &copy; Radapter Team, Spring 2015
        </div>
    </footer>



    <!--Assignment JS file-->
    <script src="/js/scripts.js"></script>

    </body>
</html>