<!DOCTYPE html>
<html class="no-js">
<head>
	<title>iTravel</title>
	<!-- inject:css -->
	<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="vendor/jquery-mobile/css/themes/default/jquery.mobile.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<!-- endinject -->
</head>

<body ng-app="iTravelApp">
	<!-- iTravel Content Goes Here -->
	<div ng-include='"templates/header.html"'></div>
	<div class="container-fluid">
        <div ng-view></div>
    </div>
	<div ng-include='"templates/footer.html"'></div>


	<!-- inject:js -->
	<script src="vendor/angular/angular.js"></script>
	<script src="vendor/angular-route/angular-route.js"></script>
	<script src="vendor/lodash/lodash.js"></script>
	<script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="vendor/jquery/dist/jquery.js"></script>
	<script src="vendor/jquery-mobile/js/jquery.mobile.js"></script>
	<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script src="js/main.js"></script>
	<script src="js/scripts.js"></script>
	<script src="js/services/venue.js"></script>
	<!-- endinject -->
</body>
</html>
