<!DOCTYPE html>
<html class="no-js">
<head>
	<title>iTravel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Your personal travel planner">
	<meta name="keywords" content="adapt,adaptive,adaptively,alter,assistant,based,build,categories,choose,companion,contact,current,date,days,delays,destination,developer,deviations,distance,drag,drop,dynamicallycalculated,english,filter,finish,great,interests,itinerary,itravel,list,location,locations,login,logout,navigation,nearby,occur,ordered,oyster,people,perfect,personal,personalize,pick,place,plan,policy,popularity,price,privacy,profile,progress,prompts,radapter,rating,reminders,results,road,schedule,search,security,select,sends,sign,signup,simply,sort,spontaneity,spots,start,technologies,tier,times,tips,toggle,track,tracks,travel,using,venue,venues,visit,want,we'll,works,world,中文">
	<!-- google maps javascript -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>

	<!-- inject:css -->
	<!-- endinject -->
</head>

<body ng-app="iTravelApp">
	<!-- iTravel Content Goes Here -->


	<!--!!!!!NavbarCtrl also contains tranlatorCtrl, should applies to all module-->

	<div ng-include='"templates/header.html"' ng-controller="NavbarCtrl"></div>
	<div ng-view class="padding-top-80" ng-controller="NavbarCtrl" ng-class="{'padding-top-0': showStatus}"></div>
	<div ng-include='"templates/footer.html"' ng-controller="NavbarCtrl" ></div>
	<!-- inject:js -->
	<!-- endinject -->
</body>
</html>
