<!DOCTYPE html>
<html class="no-js">
<head>
	<title>iTravel</title>
	<!-- inject:css -->
	<!-- endinject -->
</head>

<body ng-app="iTravelApp">
	<!-- iTravel Content Goes Here -->
	<div ng-include='"templates/header.html"' ng-controller="NavbarCtrl"></div>
	<div ng-view></div>
	<div ng-include='"templates/footer.html"'></div>
	<!-- inject:js -->
	<!-- endinject -->
</body>
</html>
