<footer class="footer">
    <div class="text-center">
        <h3 class="footer-title">
            <a href="#/#top">Radapter - iTravel</a>
        </h3>
        <ul class="list-inline">
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/locations">Locations</a></li>
            <li><a href="#/privacy">Privacy Policy</a></li>
            <li><a href="#/security">Security</a></li>
            <li><a href="#/tech">Technologies</a></li>
            <li><a href="#/developer#top">Developer API</a></li>
            <li><a href="https://github.com/radapter/iTravel" target="_blank">
                iTravel @ <i class="fa fa-github"></i></a>
            </li>
        </ul>
    </div>
</footer>