<footer class="footer">
    <div class="text-center">
        <h3 class="footer-title">
            &copy; 2015 <a href="#/#top" translate>RadapteriTravel</a>
        </h3>
        <ul class="list-inline">
            <li><a href="#/contact" translate>Contact</a></li>
            <li><a href="#/locations" translate>Locations</a></li>
            <li><a href="#/privacy" translate>PrivacyPolicy</a></li>
            <li><a href="#/security" translate>Security</a></li>
            <li><a href="#/tech" translate>Technologies</a></li>
            <li><a href="#/developer#top" translate>DeveloperAPI</a></li>
            <li><a href="https://github.com/radapter/iTravel" target="_blank">
                iTravel @ <i class="fa fa-github"></i></a>
            </li>
        </ul>
    </div>
</footer>