
<!--fox-angular-scrollReveal.js settings-->
<div class="landing" data-sr-container='{"reset":true, "mobile": false, "vFactor": 0.2}'>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1 class="text-inverse" translate>iTravel</h1>
            <h2 data-sr="enter top over 1.1s" translate>landingTitle</h2>
            <h2 data-sr="enter bottom over 1.5s" translate>landingSubTitle</h2>

            <!--ui.select for location-->
            <!--<p>Selected: {{address.selected.geometry.location}}</p>-->
            <ui-select class="home-search input-select"
                       ng-model="address.selected"
                       theme="bootstrap"
                       reset-search-input="false">
                <ui-select-match placeholder="{{ EnterDestination | translate }}">{{$select.selected.formatted_address}}</ui-select-match>
                <ui-select-choices repeat="address in addresses track by $index"
                                   refresh="refreshAddresses($select.search)"
                                   refresh-delay="0">
                    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <br/>

            <input type="submit" value="{{isSubmitting ? 'Searching' : '  Custom Planning  ' | translate}}"
                       class="btn btn-primary btn-hg" ng-click="explore(address.selected)" ng-disabled="isSubmitting">

            <input type="submit" value="{{isSubmitting ? 'Searching' : '  Auto Planning  ' | translate}}"
                   class="btn btn-danger btn-hg" ng-click="openAutoplanModal(address.selected)" ng-disabled="isSubmitting">
            <script type="text/ng-template" id="autoplanModal.html">
                <div class="modal-header">
                    <h4 class="modal-title">One step left for your plan...</h4>
                </div>
                <div class="modal-body">
                    Destination : <b>{{ selectedAddress.formatted_address }}</b> <br/>

                    Choos a start date:
                    <div style="display:inline-block; min-height:290px;">
                        <datepicker ng-model="plan.start" min-date="minDate"
                        show-weeks="true" class="well well-sm"
                        custom-class="getDayClass(date, mode)"></datepicker>
                    </div>
                    <br/>

                    Duration: <input type="number" ng-model="plan.duration"/>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-primary" type="button" ng-click="autoplan(plan)">Plan</button>
                </div>
            </script>

            <br>
            <br>

            <input type="submit" value="{{isSubmitting2 ? 'Searching' : 'I\'m feeling lucky' | translate}}"
                   class="btn btn-default" ng-click="currentloc()" ng-disabled="isSubmitting2">


            <!--<a href="" class="btn btn-hg btn-primary">Explore Nearby</a>-->
        </div>
    </header>

    <div class="container how-it-works">
        <div class="content">
            <h6 class="upperhead" translate>HowItWorks</h6>
            <h4 class="panelTitle" data-sr="enter top over 1.33s" translate>
                HowItWorksTitle
            </h4>
        </div>

        <div class="row text-center">
            <div class="col-md-4">
                <div class="step" data-sr="enter left and move 50px over 1.5s">
                    <img class="panelIcon" src="../img/flat-icons/Clipboard.png" height="100" alt=""/>
                    <h5 translate>PickDestination</h5>
                    <p translate>PickDestinationContent</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step" data-sr="enter bottom and move 80px over 1.6s">
                    <img class="panelIcon" src="../img/flat-icons/Map.png" height="100" alt=""/>
                    <h5 translate>Personalize</h5>
                    <p translate>PersonalizeContent</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="step" data-sr="enter right and move 40px over 1.8s">
                    <img class="panelIcon" src="../img/flat-icons/Compas.png" height="100" alt="pannelIcon" />
                    <h5 translate>TravelAdaptively</h5>
                    <p translate>TravelAdaptivelyContent</p>
                </div>
            </div>

        </div>
    </div>

    <div class="jumbotron bg-info find-your-oyster">
        <div class="container">
            <div class="content">
                <div class="row home-heading">
                    <div class="col-xs-12" data-sr="enter top over 1.1s">
                        <h3 class="text-warning" translate>FindYourOyster</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-12 icon" data-sr="enter left and move 50px over 1s">
                        <i class="fa fa-compass fa-4x"></i>
                    </div>
                    <div class="col-md-10 col-xs-12 icon-text" data-sr="enter right and move 20px over 1.1s">
                        <h6 translate>FindYourOysterContent1</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 icon" data-sr="enter left and move 120px over 1.1s">
                        <i class="fa fa-street-view fa-4x"></i>
                    </div>
                    <div class="col-md-10 icon-text" data-sr="enter right and move 100px over 1.2s">
                        <h6 translate>FindYourOysterContent2</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 icon" data-sr="enter left and move 80px over 1.33s">
                        <i class="fa fa-search fa-4x"></i>
                    </div>
                    <div class="col-md-10 icon-text" data-sr="enter right and move 20px over 1.33s">
                        <h6 translate>FindYourOysterContent3</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron personalize-it">
        <div class="container">
            <div class="content">
                <div class="row home-heading">
                    <div class="col-xs-12" data-sr="enter top and move 100px over 1.2s">
                        <h3 class="text-primary" translate>PersonalizeIt</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 icon" data-sr="enter top and move 80px over 1s">
                        <i class="fa fa-filter fa-4x"></i>
                    </div>
                    <div class="col-md-10 icon-text" data-sr="enter bottom and move 80px over 0.8s">
                        <h6 translate>PersonalizeItContent1</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 icon" data-sr="enter right and move 50px over 1s">
                        <i class="fa fa-search fa-4x"></i>
                    </div>
                    <div class="col-md-10 icon-text" data-sr="enter left and move 80px over 1.2s">
                        <h6 translate>PersonalizeItContent2</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 icon" data-sr="enter right and move 20px over 1s">
                        <i class="fa fa-sort-amount-asc fa-4x"></i>
                    </div>
                    <div class="col-md-10 icon-text" data-sr="enter bottom and move 60px over 0.9s">
                        <h6 translate>PersonalizeItContent3</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 icon" data-sr="enter left and move 50px over 1s">
                        <i class="fa fa-check-square fa-4x"></i>
                    </div>
                    <div class="col-md-10 icon-text" data-sr="enter bottom and move 100px over 1.1s">
                        <h6 translate>PersonalizeItContent4</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron bg-inverse schedule-it">
        <div class="container">
            <div class="content">
                <div class="row home-heading">
                    <div class="col-xs-12" data-sr="enter left and move 50px over 1.2s">
                        <h3 class="text-danger" translate>ScheduleIt</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 icon" data-sr="enter top and move 150px over 0.8s">
                        <i class="fa fa-list-ol fa-4x"></i>
                    </div>
                    <div class="col-md-10 icon-text">
                        <h6 translate>ScheduleItContent1</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 icon" data-sr="enter right over 2s">
                        <i class="fa fa-clock-o fa-4x"></i>
                    </div>
                    <div class="col-md-10 icon-text" data-sr="enter bottom over 0.7s">
                        <h6 translate>ScheduleItContent2</h6>
                    </div>
                </div>
                <div class="row" data-sr="enter right and move 80px over 0.9s">
                    <div class="col-md-2 icon">
                        <img class="panelIcon" src="../img/flat-icons/Calendar.png"
                             alt="calendar icon" height="80">
                    </div>
                    <div class="col-md-10 icon-text">
                        <h6 translate>ScheduleItContent3</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron bg-inverse on-the-go">
        <div class="container">
            <div class="content">
                <div class="row home-heading">
                    <div class="col-xs-12" data-sr="enter bottom and move 100px over 1.2s">
                        <h3 class="text-warning" translate>TakeItOntheGo</h3>
                    </div>
                </div>
                <div class="row on-the-go-icons">
                    <div class="col-md-4" data-sr="enter left and move 50px over 0.7s">
                        <div class="icon">
                            <i class="fa fa-user-secret fa-5x"></i>
                        </div>
                        <div class="icon-text">
                            <h6 translate>TakeItOntheGoContent1</h6>
                        </div>
                    </div>
                    <div class="col-md-4" data-sr="enter top and move 100px over 1s">
                        <div class="icon">
                            <i class="fa fa-bell fa-5x"></i>
                        </div>
                        <div class="icon-text">
                            <h6 translate>TakeItOntheGoContent2</h6>
                        </div>
                    </div>
                    <div class="col-md-4" data-sr="enter right and move 50px over 0.5s">
                        <div class="icon">
                            <i class="fa fa-pencil-square-o fa-5x"></i>
                        </div>
                        <div class="icon-text">
                            <h6 translate>TakeItOntheGoContent3</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron friend">
        <div class="container">
            <div class="content">
                <div class="row">
                    <h1 data-sr="enter top and move 50px over 1.5s" translate>iTravel</h1>
                    <h3 data-sr="enter left and move 80px over 1.2s" translate>iTravelContent1</h3>
                </div>
                <div class="row" data-sr="enter bottom and move 60px over 1.5s">
                    <h5 translate>iTravelContent2</h5>
                    <a href="#/signup" class="btn btn-primary btn-lg" translate>Signup</a>
                </div>
            </div>
        </div>
    </div>

</div><!--close landing div-->


