
<!--fox-angular-scrollReveal.js settings-->
<div class="landing" data-sr-container='{"reset":true, "vFactor": 0.2}'>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <br/>
            <h2>iTravel</h2>
            <div data-sr="enter top over 1.1s"><h3>The world is your oyster.</h3></div>
            <div data-sr="enter bottom over 3s"><h3>Pick a place.</h3></div>
            <br>

            <!--ui.select for location-->
            <!--<p>Selected: {{address.selected.geometry.location}}</p>-->
            <ui-select class="input-select"
                       ng-model="address.selected"
                       theme="bootstrap"
                       reset-search-input="false"
                       style="width: 300px;">
                <ui-select-match placeholder="Enter Destination">{{$select.selected.formatted_address}}</ui-select-match>
                <ui-select-choices repeat="address in addresses track by $index"
                                   refresh="refreshAddresses($select.search)"
                                   refresh-delay="0">
                    <div ng-bind-html="address.formatted_address | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
            <br/>
            <input type="submit" value="{{isSubmitting ? 'Searching...' : 'GO'}}"
                   class="btn btn-danger btn-hg" ng-click="explore(address.selected)" ng-disabled="isSubmitting">


            <!--<a href="" class="btn btn-hg btn-primary">Explore Nearby</a>-->
        </div>
    </header>

    <div class="container">
        <div class="content">
            <h6 class="upperhead">How It Works</h6>
            <h3 class="panelTitle" data-sr="enter left and move 50px over 1.33s">
                iTravel: <br>Your Personal &amp; Adaptive Travel Companion
            </h3>

            <div class="row">
                <div class="col-sm-4">
                    <div class="step">
                        <img class="pannelIcon" src="../img/flat-icons/Clipboard.png" height="100" alt=""/>
                        <h5>Pick Destination</h5>
                        <p>Simply choose destination or use your current location to find nearby
                            spots and pick a date to travel.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="step">
                        <img class="pannelIcon" src="../img/flat-icons/Map.png" height="100" alt=""/>
                        <h5>Personalize</h5>
                        <p>Pick and choose the venues you want to visit. We build your itinerary based on your interests.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="step">
                        <img class="pannelIcon" src="../img/flat-icons/Compas.png" height="100" alt="pannelIcon" />
                        <h5>Travel Adaptively</h5>
                        <p>Hit the road and we track you on the go and adapt your plan due to delays or spontaneity.</p>
                    </div>
                </div>

                <span class="step-alignment"></span>
            </div>
        </div>
    </div>

    <!--<div class="jumbotron bg-inverse">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h5 class="text-center">Features</h5>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-6">
                    <p>List Features Here</p>
                </div>
                <div class="col-sm-6">
                    <p>Pictures Here?</p>
                </div>
            </div>
        </div>
    </div>-->

    <div class="jumbotron bg-inverse">
        <div class="container">
            <div class="content">
                <div class="row text-center">
                    <div class="col-xs-12">
                        <h3>Find your Oyster</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4" data-sr="enter left and move 80px over 1.33s">
                        <img class="panelIcon pull-right" src="../img/flat-icons/Clipboard.png" height="150" alt=""/>
                    </div>
                    <div class="col-xs-8" data-sr="enter right and move 20px over 1.33s">
                        <p>Pick your destination</p>
                        <p>Or use your current location</p>
                        <p>We'll search for great venues there</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="row text-center">
                <div class="col-xs-12">
                    <h3>Personalize It</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <p>Filter results by category</p>
                    <p>Search by venue name</p>
                    <p>Sort by rating, popularity, and distance</p>
                    <p>Select the venues for you</p>
                </div>
                <div class="col-xs-4">
                    <img class="panelIcon" src="../img/flat-icons/Map.png" height="150" alt=""/>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron bg-info">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>Schedule It</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <img class="panelIcon" src="#" height="150" alt="Add calender icon">
                    </div>
                    <div class="col-xs-8">
                        <p>Drag and drop venues into an ordered list</p>
                        <p>Pick your times</p>
                        <p>Choose travel days</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Take It On the Go</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <img class="panelIcon pull-right" src="../img/flat-icons/Compas.png" height="150" alt="panelIcon" />
                </div>
                <div class="col-xs-8">
                    <p>Tracks your progress</p>
                    <p>Sends you reminders or tips</p>
                    <p>Offers to change or extend your plan when deviations or delays occur</p>
                    <p>Helping you create a smooth travel plan</p>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>iTravel</h1>
                    </div>
                    <div class="col-xs-12">
                        <h5>Simplifies planning</h5>
                    </div>
                    <div class="col-xs-12">
                        <h5>Adapts to deviations</h5>
                    </div>
                    <div class="col-xs-12">
                        <h5>Creates a smooth travel experience</h5>
                    </div>
                    <div class="col-xs-12">
                        <h3>Your travel assistant from start to finish</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="friend">
        <div data-scroll-reveal="enter from top, move 50px, over 1.5s" class="text-center">
            <h3>Join us!</h3>
            <h5>People are using iTravel everywhere!</h5>
        </div>
    </div>




</div>


