<div class="modal-header">
    <h3 class="modal-title" translate>LOGIN</h3>
</div>
<div class="modal-body container-fluid">
    <form class="form-group login-form">
        <div class="row error" ng-show="loginStat==false">
            <p class="text-center text-danger">Login failed. Incorrect email/password combo.</p>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <input type="email" class="form-control input-lg login-field"
                       id="login" ng-model="uiModel.email" placeholder="{{ 'EnterEmail' | translate }}" required>
                <label class="login-field-icon glyphicon glyphicon-user" for="login"></label>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <input type="password" class="form-control input-lg login-field"
                       id="password" ng-model="uiModel.password" placeholder="{{ 'Password' | translate }}" required>
                <label class="login-field-icon glyphicon glyphicon-lock" for="password"></label>
            </div>
        </div>
<!--             <div class="form-group row">
            <div class="col-xs-12 text-center">
                <p>{{ 'NeedToSignUp' | translate }} <a href="#/signup">{{'SIGNUP' | translate}}</a>!</p>
            </div>
        </div> -->
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="login()" translate>LOGIN</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()" translate>CANCEL</button>
</div>
</div>
