<!DOCTYPE html>
<html>
   <head>
		<meta charset="UTF-8" />
		<title>Signup @ iTravel</title>

		 <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<!--<script src="scripts.js"></script>-->
	</head>

   <body>
   		<div class="container">
			<div class="jumbotron">
				<h2 class="text-center">Signup @ iTravel</h2>
				<form>
					<div class="form-group row">
						<div class="col-xs-12 col-sm-6 col-sm-offset-3">
							<input type="text" class="form-control input-lg" 
					    		id="login" placeholder="userid">
					    	<input type="password" class="form-control input-lg" 
					    		id="password1" placeholder="password">
				    		<input type="password" class="form-control input-lg" 
					    		id="password2" placeholder="confirm password">
				    	</div>
				    </div>
				    <div class="form-group row">
				    	<div class="col-xs-12 text-center">
				    		<button type="submit" class="btn btn-success btn-lg">
				    			Signup</button>	
				    		<button type="reset" class="btn btn-danger btn-lg">
				    			Reset</button>
				    	</div>
					</div>
					<div class="form-group row">
						<div class="col-xs-12 text-center">
							<p>Already have an account? <a href="login.html">Login</a>!</p> 
						</div>
					</div>
				</form>
			</div>
		</div>
   		<script type="text/javascript">
   		</script>
	</body>

	<footer class="text-center">
		&copy; Radapter Team, 2015
	</footer>
</html>