<ion-view title="Help" hide-nav-bar="true">

  <ion-slide-box class="has-header" on-slide-changed="slideHasChanged($index)">

    <ion-slide id="slide-1">
      <div class="padding text-center slide-bkgd">
        <h2 class="positive app-title">iTravel</h2>
        <h4 class="app-tagline">
          The world is your oyster
        </h4>
      </div>
    </ion-slide>

    <ion-slide id="slide-2">
      <div class="padding text-center slide-value">
        <h4 class="app-tagline">Find your oyster<br/>
          <span class="slide-subtitle">Choose a desired destination or use your current location</span>
        </h4>
      </div>
    </ion-slide>

    <ion-slide id="slide-3">
      <div class="padding text-center slide-features">
        <h4 class="app-tagline">Sit Back &amp; Relax<br/>
          <span class="slide-subtitle">We do the planning, scheduling, organizing and mapping</span>
        </h4>
      </div>
    </ion-slide>

    <ion-slide id="slide-4">
      <div class="padding text-center slide-features">
        <h4 class="app-tagline">iTravel Has Your Back<br/>
          <span class="slide-subtitle">We'll track you on the go and adapt your plan as needed</span>
        </h4>
      </div>
    </ion-slide>

  </ion-slide-box>

  <div class="bar bar-footer welcome-btns">
    <a class="button welcome" href="#/signup">Sign Up</a>
    <a class="button welcome" href="#/login">Login</a>
  </div>

</ion-view>
