<ion-view view-title="PlanDetail">
  <ion-content id="plan-detail">
    <div class="body-container">
      <h4 class="row plan-name">
        <div class="col-10"><i class="icon ion-ios-location"></i></div>
        <div class="col-80"><span class="plan-name">{{plan.destName}}</span></div>
        <div class="col-10 text-right">
          <button class="button button-small icon ion-map" ng-click="setMapMode()" ng-show="!mapMode"></button>
          <button class="button button-small icon ion-navicon-round" ng-click="unSetMapMode()" ng-show="mapMode"></button>
        </div>
      </h4>

      <div class="button-bar">
        <button class="button button-small" ng-repeat="day in days" ng-click="changeDayRoute(day)"
                ng-class="{ 'day-btn-clicked': day.date == currDate}"> {{day.date}}
        </button>
      </div>

      <div id="plan-detail-list" ng-show="!mapMode">
        <!--activities list-->
        <ion-list ng-repeat="day in days" ng-show="day.date == currDate">
          <ion-item class="item-remove-animate item-avatar" ng-repeat="activity in day.activities" type="item-text-wrap">
            <!--<img ng-src="{{plan.face}}">-->
            <div class="plan-icon activity-icon" ng-class="{
                                    'bg-restaurant': activity.activitiesType === 'restaurants',
                                    'bg-hotel': activity.activitiesType === 'hotels',
                                    'bg-attraction': activity.activitiesType === 'attractions'
                                    }">
              <!--<p class="plan-char">{{ plan.destName | getDestNameInitial }}</p>-->
              <i class="icon  " ng-class="{
                                    'ion-fork': activity.activitiesType === 'restaurants',
                                    'ion-ios-moon': activity.activitiesType === 'hotels',
                                    'ion-camera': activity.activitiesType === 'attractions'
                                    }"></i>
            </div>
            <h2>{{activity.title}}</h2>
            <p>{{activity.start | date:'MM/dd/yyyy @ h:mma' }}</p>
            <p>{{activity.end | date:'MM/dd/yyyy @ h:mma'}}</p>
          </ion-item>
        </ion-list>
      </div>

      <div id="plan-detail-map" scroll="false" data-tap-disabled="true">
        <!--google map show route-->
        <map ng-if="mapMode"  id="plan_map_canvas" center="-34.397, 150.644" zoom="10" pan-control="false" styles="{{styles}}">
          <directions panel="directions-panel"
                      travel-mode="DRIVING"
                      waypoints="{{waypoints}}"
                      optimizeWaypoints ="true"
                      origin="{{origin}}"
                      destination="{{destination}}">
          </directions>
        </map>
      </div>

    </div>


  </ion-content>
</ion-view>
