<ion-view title="Signup">
  <ion-content class="has-header signup-page" scroll="false">
    <div class="text-center">
      <!--<img class="login-logo" src="./img/logo.png" alt="" width="100px"/>-->
    </div>
    <div class="list login-input">
      <label class="item item-input">
        <input type="text" placeholder="Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password">
      </label>
    </div>
    <div class="padding text-center">
      <button class="button button-block login-btn">Submit</button>
      <p class="link">Already have an account? <a class="link" href="#/login">Login</a></p>
    </div>
  </ion-content>
</ion-view>