<ion-view title="Signup">
  <ion-content class="has-header signup-page" scroll="false">

    <div class="row error" ng-show="signupStat==false || pwMatch==false">
      <p ng-show="signupStat==false"
         class="text-center text-danger">Signup failed. That email is already in use.</p>
      <p ng-show="pwMatch==false"
         class="text-center text-danger">Your passwords do not match.</p>
    </div>

    <div class="list login-input">
      <label class="item item-input">
        <input type="email" placeholder="Email" ng-model="uiModel.email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="uiModel.password">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Confirm Password" ng-model="uiModel.passwordConf">
      </label>
    </div>
    <div class="padding text-center">
      <button class="button button-block login-btn" ng-click="signup()">Sign Up</button>
      <p class="link">Already have an account? <a class="link" href="#/login">Login</a></p>
    </div>
  </ion-content>
</ion-view>