
<ion-view view-title="iTravel">
  <ion-nav-buttons side="right">
    <a class="button button-clear button-help" ng-click="helpModal.show()">
      <i class="icon ion-ios-help-outline"></i>
    </a>
  </ion-nav-buttons>

  <ion-content class="home">
    <div class="padding user">
      <div class="row">
        <div class="col col-33">
          <i class="icon ion-person"></i>
        </div>
        <div class="col col-77 text-left email">
          <h3>{{currentUser.email}}</h3>
        </div>
      </div>
    </div>

    <!--Panel plans statistics-->
    <div id="plan-stat" class="container">
      <div class="row text-center">
        <div class="col">
          <p class="count">{{planCount}}</p>
          <p class="count-tag">Trips</p>
        </div>
        <div class="col">
          <p class="count">{{activityCount}}</p>
          <p class="count-tag">Activities</p>
        </div>
        <div class="col">
          <p class="count">{{destinationCount}}</p>
          <p class="count-tag">Locations</p>
        </div>
      </div>
    </div>

    <!--panel next trip-->
    <div id="next-trip">
      <h3 ng-show="!currentTrip">Upcoming Trip</h3>
      <h3 ng-show="currentTrip">Current Trip</h3>
      <div class="next-trip-card">
        <div ng-show="nextTrip == undefined" class="container">
          <p>No plans yet</p>
        </div>

        <div ng-hide="nextTrip == undefined">
          <div class="row">
            <i class="icon ion-paper-airplane"></i>
            <h4>{{nextTrip.destName}}</h4>
          </div>

          <div class="row">
            <i class="icon ion-calendar"></i>
            <h4>{{nextTrip.startDate | date: 'MM/dd/yyyy': 'utc'}} - {{ endDate(nextTrip.endDate) | date: 'MM/dd/yyyy' }}</h4>
          </div>

          <div class="row">
            <i class="icon ion-location"></i>
            <h4 class="acitvity-text">{{nextTrip.activities.length}} Activities</h4>
            <button class="button ion-chevron-right" ng-click="toUpcoming(nextTrip._id)"></button>
          </div>
        </div>
      </div>
    </div>

    <div id="plan-new-trip" class="container">
      <button class="button button-block plan-new-btn" ng-click="planModal.show()">Plan New Trip</button>
    </div>

  </ion-content>
</ion-view>

<!--navigate input modal-->
<script id="templates/planModal.html" type="text/ng-template">
  <ion-modal-view id="planModal">
    <ion-header-bar class="bar bar-header">
      <h1 class="title">Plan a trip</h1>
      <button class="button button-clear" ng-click="planModal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label dest-input">To:</span>
          <input ng-show="useCurrLoc" type="text" value="{{currLocation.address}}" id="currentloc-input"/>
          <input ion-autocomplete type="text" readonly="readonly" id="auto-complete-input" class="ion-autocomplete" autocomplete="off"
                 ng-hide="useCurrLoc"
                 ng-model="newplan.destination"
                 item-view-value-key="address"
                 items-method="getTestItems(query)"
                 placeholder="Enter destination"
                 items-clicked-method="toLocSelect(callback)"/>
        </label>
        <button ng-click="setUseCurrLoc()" class="button button-small loc-pull-right" ng-hide="useCurrLoc">Current Location</button>
        <button ng-show="useCurrLoc" class="button button-small loc-pull-right" ng-click="unsetUseCurrLoc()">Choose other</button>
      </div>

      <div class="list">
        <label class="item item-input">
          <span class="input-label dest-input">Date:</span>
          <!--<input type="date" ng-model="newplan.start"/>-->
          <ionic-datepicker input-obj="datepickerObject">
            <button class="button button-block button-positive button-date">
              {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}
            </button>
          </ionic-datepicker>
        </label>
      </div>

      <div class="list">
        <label class="item item-input">
          <span class="input-label dest-input">Days:</span>
          <input type="number" ng-model="newplan.duration" placeholder="Duration (default 1)"/>
        </label>

        <button class="button button-block btn-nav" ng-model="navigate" ng-click="autoplan(newplan)">Auto Plan</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>



