<div class="container-fluid">
    <div class="jumbotron">
        <h3 class="text-center">About Us</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h4>iTravel Features</h4>
                <dl>
                    <dt>Realtime &amp; Adaptive</dt>
                    <dd>
                        iTravel tracks if you follow the travel plan and updates in realtime to your actual plan,
                        offering you new choices to choose from if your route deviates significantly from your
                        original plan, allowing you the flexibility and independence to go where you want, when
                        you want, and still have a travel assistant to help you when you need it.
                    </dd>

                    <br>
                    <dt>Personalized</dt>
                    <dd>
                        iTravel lets you choose which attractions/venues to visit and when to visit them. You can
                        also specify additional parameters for the type and price range of hotels, restaurants, and
                        many more. iTravel is about creating a plan that fits you perfectly.
                    </dd>

                    <br>
                    <dt>Local Gems</dt>
                    <dd>
                        iTravel has a built-in feature that highlights local gems, promoting local businesses
                        and helping travelers discover smaller and less-visible locations or venues, which helps
                        dissipate crowds and improve the travel experience for each individual traveller. This also
                        allows you the flexibility to visit new places that may not typically be highlighted on
                        large-group tourism routes.
                    </dd>

                    <br>
                    <dt>Web &amp; Mobile Optimized</dt>
                    <dd>
                        iTravel offers both a rich web-based application optimized for original travel planning
                        and research alongside a mobile application tailored for on-the-go tracking and realtime
                        updates.
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
