<div class="jumbotron">
    <div class="container-fluid">
        <h3 class="text-center">Contact</h3>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h4>Team Members</h4>
                <ul class="row list-unstyled">
                    <li>
                        <div class="col-sm-4 col-xs-12">
                            Jennifer Wu
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            jenn.j.wu [at] gmail [dot] com
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-4 col-xs-12">
                            Xiaoli Jiang
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            jiangxiaoli1104 [at] gmail [dot] com
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-4 col-xs-12">
                            Tuo Lei
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            leituo56 [at] gmail [dot] com
                        </div>
                    </li>
                    <li>
                        <div class="col-sm-4 col-xs-12">
                            Yulin Ye
                        </div>
                        <div class="col-sm-8 col-xs-12">
                            yulinye.yy [at] gmail [dot] com
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
