
<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <br/>
        <br/>
        <br/>
        <h1>Start iTravel</h1>
        <h3>Your Personal &amp; Adaptive Travel Company</h3>
        <br>

        <form class="landing-form">
            <div class="form-group row">
                <input type="text" class="form-control input-hg" placeholder="Where you want to go" />
            </div>

            <a href="" class="btn btn-hg btn-primary">Explore NearBy</a>
            <input type="submit" value="Let's GO!" class="btn btn-danger btn-hg"/>
        </form>


    </div>
</header>


<div class="container">
    <div class="content">
        <h6 class="upperhead">How it works</h6>
        <h3 class="pannelTitle">You choose a place.</h3>
        <h3 class="pannelTitle">We take care of the rest.</h3>

        <div class="row">
            <div class="col-sm-4">
                <div class="step">
                    <img class="pannelIcon" src="../img/flat-icons/Clipboard.png" height="100" alt=""/>
                    <h5>Choose destination</h5>
                    <p>Simply choose a destination & date, or use current location</a></p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="step">
                    <img class="pannelIcon" src="../img/flat-icons/Map.png" height="100" alt=""/>
                    <h5>Personal itinerary</h5>
                    <p>Plan your trip smartly with iTravel, make a perosonal itinerary.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="step">
                    <img class="pannelIcon" src="../img/flat-icons/Compas.png" height="100" alt=""/>
                    <h5>Track on the go</h5>
                    <p>Provide adaptive plan when you change your mind or on delay.</p>
                </div>
            </div>

            <span class="step-alignment"></span>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1>Price</h1>
        <br/>
        <br/>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1>.....</h1>
        <br/>
        <br/>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1>.....</h1>
        <br/>
        <br/>
    </div>
</div>

