<div class="container-fluid">
    <div class="jumbotron">
        <h2 class="text-center">Signup @ iTravel</h2>

        <form class="form-group login-form">
            <div class="form-group row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <input type="text" class="form-control input-lg login-field"
                           id="signup" placeholder="User ID">
                    <label class="login-field-icon glyphicon glyphicon-user" for="signup"></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <input type="password" class="form-control input-lg login-field"
                           id="password1" placeholder="Password">
                    <label class="login-field-icon glyphicon glyphicon-lock" for="password1"></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <input type="password" class="form-control input-lg login-field"
                           id="password2" placeholder="Confirm Password">
                    <label class="login-field-icon glyphicon glyphicon-lock" for="password2"></label>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-4 col-sm-offset-2 col-xs-12">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <button type="reset" class="btn btn-danger btn-lg btn-block">Reset</button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-xs-12 text-center">
                    <p>Already have an account? <a href="#/login">Login</a>!</p>
                </div>
            </div>
        </form>
    </div>
</div>
