<div class="jumbotron">
    <div class="row">
        <h2 class="text-center">Travel Planner</h2>
        <form class="form-horizontal" id="planner">
            <div class="form-group">
                <label for="destination" class="col-sm-offset-1 col-sm-2 control-label">Destination</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="destination" placeholder="San Jose, San Francisco, etc.">
                </div>
            </div>
            <div class="form-group">
                <label for="travel-date-from" class="col-sm-offset-1 col-sm-2 control-label">Date</label>
                <div class="col-sm-3">
                    <input type="date" class="form-control" id="travel-date-from" placeholder="mm/dd/yyyy">
                </div>
                <div class="col-sm-1 text-center">
                    <p>to</p>
                </div>
                <div class="col-sm-3">
                    <input type="date" class="form-control" id="travel-date-tp" placeholder="mm/dd/yyy">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-1 well">
                    <h4 class="text-center" id="optional">
                        Optional Parameters
                        &nbsp; <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </h4>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Attraction</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Type
                                </label>
                                <div class="col-sm-9">
                                    <label class="checkbox-inline">
                                        <input name="attraction-type" type="checkbox" value="historical">
                                        Historical
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="attraction-type" type="checkbox" value="cultural">
                                        Cultural
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="attraction-type" type="checkbox" value="popular">
                                        Popular
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="attraction-type" type="checkbox" value="unique">
                                        Unique
                                    </label>
                                    <br>
                                    <h6>Or Select From <a href="#">Attraction List</a> (can make into Datalist?)</h6>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Price Range
                                </label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label for="attraction-price-range" class="control-label">$0</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input id="attraction-price-range" type="range" min ="0" max="1000" step ="5"/>
                                        </div>
                                        <div class="col-sm-1">
                                            <label for="attraction-price-range" class="control-label">$1000</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">Hotel</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Type
                                </label>
                                <div class="col-sm-9">
                                    <label class="checkbox-inline">
                                        <input name="hotel-type" type="checkbox" value="historical">
                                        Historical
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="hotel-type" type="checkbox" value="scenic">
                                        Scenic
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="hotel-type" type="checkbox" value="urban">
                                        Urban
                                    </label>
                                    <br>
                                    <h6>Or Select From <a href="#">Hotel List</a> (can make into Datalist?)</h6>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Price Range
                                </label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label class="control-label">$0</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input id="hotel-price-range" type="range" min ="0" max="1000" step ="5"/>
                                        </div>
                                        <div class="col-sm-1">
                                            <label class="control-label">$1000</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">Restaurants</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Cuisine
                                </label>
                                <div class="col-sm-9">
                                    <label class="checkbox-inline">
                                        <input name="restaurant" type="checkbox" value="local">
                                        Local Cuisine
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="restaurant" type="checkbox" value="american">
                                        American Cuisine
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="restaurant" type="checkbox" value="asian">
                                        Asian Cuisine
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="restaurant" type="checkbox" value="italian">
                                        Italian Cuisine
                                    </label>
                                    <br>
                                    <label class="checkbox-inline">
                                        <input name="restaurant" type="checkbox" value="other">
                                        Other / No Preference
                                    </label>
                                    <br>
                                    <h6>Or Select From <a href="#">Restaurant List</a> (can make into Datalist?)</h6>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Restaurant Price Range
                                </label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <label class="control-label">$0</label>
                                        </div>
                                        <div class="col-sm-7">
                                            <input id="restaurant-price-range" type="range" min ="0" max="1000" step ="5"/>
                                        </div>
                                        <div class="col-sm-1">
                                            <label class="control-label">$1000</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">Transportation</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">
                                    Style
                                </label>
                                <div class="col-sm-9">
                                    <label class="checkbox-inline">
                                        <input name="transportation" type="checkbox" value="car">
                                        Car / Rental Car
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="transportation" type="checkbox" value="bus">
                                        Bus
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="transportation" type="checkbox" value="train">
                                        Train
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="transportation" type="checkbox" value="taxi">
                                        Taxi
                                    </label>
                                    <label class="checkbox-inline">
                                        <input name="transportation" type="checkbox" value="walk">
                                        Walk
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--end well-->
            </div> <!--end form-group-->
        </form>
    </div>
</div>
