<div class="container-fluid">
    <div class="jumbotron">
        <div class="row">
            <h2 class="text-center">Travel Planner</h2>
            <form class="form-horizontal" id="planner">
                <div class="form-group">
                    <label for="destination" class="col-sm-offset-1 col-sm-2 control-label">Destination</label>
                    <div class="col-sm-7">
                        <input list="destinations" class="form-control" id="destination"
                               placeholder="San Jose, San Francisco, etc.">
                        <datalist id="destinations">
                            <option value="San Francisco">
                            <option value="San Jose">
                            <option value="Berkeley">
                            <option value="Santa Cruz">
                            <option value="Monterey">
                            <option value="Gilroy">
                            <option value="Irvine">
                            <option value="Mountain View">
                            <option value="Redwood City">
                            <option value="Los Angeles">
                            <option value="San Diego">
                            <option value="New York City">
                            <option value="Philadelphia">
                            <option value="Washington DC">
                            <option value="Seattle">
                            <option value="Las Vegas">
                            <option value="Reno">
                            <option value="Lake Tahoe">
                        </datalist>
                    </div>
                </div>
                <div class="form-group">
                    <label for="travel-date-from" class="col-sm-offset-1 col-sm-2 control-label">Dates</label>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="travel-date-from" placeholder="mm/dd/yyyy">
                    </div>
                    <div class="col-sm-1 text-center">
                        <p>to</p>
                    </div>
                    <div class="col-sm-3">
                        <input type="date" class="form-control" id="travel-date-to" placeholder="mm/dd/yyy">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-1 well">
                        <h4 class="text-center" id="optional" ng-model="collapsed" ng-click="collapsed=!collapsed">
                            Optional Parameters
                            &nbsp;
                            <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-hide="collapsed"></span>
                            <span class="glyphicon glyphicon-minus" aria-hidden="true" ng-show="collapsed"></span>
                        </h4>
                        <div class="panel panel-primary" ng-show="collapsed">
                            <div class="panel-heading">Attraction</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Type
                                    </label>
                                    <div class="col-sm-9">
                                        <label class="checkbox-inline">
                                            <input name="attraction-type" type="checkbox" value="historical">
                                            Historical
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="attraction-type" type="checkbox" value="cultural">
                                            Cultural
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="attraction-type" type="checkbox" value="popular">
                                            Popular
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="attraction-type" type="checkbox" value="unique">
                                            Unique
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Price Range
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <label for="attraction-price-range" class="control-label">$0</label>
                                            </div>
                                            <div class="col-sm-7">
                                                <input id="attraction-price-range" type="range" min ="0" max="1000" step ="5"/>
                                            </div>
                                            <div class="col-sm-1">
                                                <label for="attraction-price-range" class="control-label">$1000</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary" ng-show="collapsed">
                            <div class="panel-heading">Hotel</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Type
                                    </label>
                                    <div class="col-sm-9">
                                        <label class="checkbox-inline">
                                            <input name="hotel-type" type="checkbox" value="historical">
                                            Historical
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="hotel-type" type="checkbox" value="scenic">
                                            Scenic
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="hotel-type" type="checkbox" value="urban">
                                            Urban
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Price Range
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <label class="control-label">$0</label>
                                            </div>
                                            <div class="col-sm-7">
                                                <input id="hotel-price-range" type="range" min ="0" max="1000" step ="5"/>
                                            </div>
                                            <div class="col-sm-1">
                                                <label class="control-label">$1000</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary" ng-show="collapsed">
                            <div class="panel-heading">Restaurants</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Cuisine
                                    </label>
                                    <div class="col-sm-9">
                                        <label class="checkbox-inline">
                                            <input name="restaurant" type="checkbox" value="local">
                                            Local Cuisine
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="restaurant" type="checkbox" value="american">
                                            American Cuisine
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="restaurant" type="checkbox" value="asian">
                                            Asian Cuisine
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="restaurant" type="checkbox" value="italian">
                                            Italian Cuisine
                                        </label>
                                        <br>
                                        <label class="checkbox-inline">
                                            <input name="restaurant" type="checkbox" value="other">
                                            Other / No Preference
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Restaurant Price Range
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-1">
                                                <label class="control-label">$0</label>
                                            </div>
                                            <div class="col-sm-7">
                                                <input id="restaurant-price-range" type="range" min ="0" max="1000" step ="5"/>
                                            </div>
                                            <div class="col-sm-1">
                                                <label class="control-label">$1000</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary" ng-show="collapsed">
                            <div class="panel-heading">Transportation</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">
                                        Style
                                    </label>
                                    <div class="col-sm-9">
                                        <label class="checkbox-inline">
                                            <input name="transportation" type="checkbox" value="car">
                                            Car / Rental Car
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="transportation" type="checkbox" value="bus">
                                            Bus
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="transportation" type="checkbox" value="train">
                                            Train
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="transportation" type="checkbox" value="taxi">
                                            Taxi
                                        </label>
                                        <label class="checkbox-inline">
                                            <input name="transportation" type="checkbox" value="walk">
                                            Walk
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end well-->
                </div> <!--end form-group-->
            </form>
        </div>
    </div>
</div>

