<div class="container-fliud">

    <div class="jumbotron user-panel">
        <div class="row">
            <div class="col-xs-4 text-center">
                <h4>{{user.email}}</h4>
                <img src="../img/user-avatars/1.png" alt="" height="80"/>

            </div>
            <div class="col-xs-8">
                <h5>My Stats</h5>
                <h6>Plans: {{planCount}}</h6>
                <h6>Destinations: {{destinationCount}}</h6>
                <h6>Activities: {{activityCount}}</h6>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <h4>My Travel Plans</h4>

        <div class="row">
            <div class="col-md-4 todo" ng-repeat="plan in user.plans | orderBy: '-startDate' " ng-click="gotoPlan(plan._id)">
                <div class="plan-title">
                    <h6><a ng-href="#/plans/{{plan._id}}" class="plan-title-link">{{plan.destName}}</a></h6>
                    <p>{{plan.startDate |dateParse | date:'MM/dd/yyyy'}} - {{plan.endDate |dateParse | date:'MM/dd/yyyy'}} </p>
                </div>
                <ul class="plan-list">
                    <li class=""
                        ng-repeat="activity in plan.activities">
                        <div class="activity-icon">
                            <i class="fa" ng-class="{
                                'fa-coffee': activity.activitiesType === 'restaurants',
                                'fa-bed': activity.activitiesType === 'hotels',
                                'fa-camera': activity.activitiesType === 'attractions'
                            }"></i>
                        </div>
                        <div class="activity-content">
                            <h4 class="activity-name">{{activity.venue.name}}</h4>
                            <!--<p>{{activity.start ? activity.start : ''  |dateParse | date:'MM/dd/yyyy @ h:mma'}}</p>-->
                            <!--<p>{{activity.end ? activity.end : ''  |dateParse | date:'MM/dd/yyyy @ h:mma'}}</p>-->
                        </div>
                    </li>
                </ul>
            </div>
        </div>



    </div>



</div>