<div class="container-fliud">

    <div class="jumbotron user-panner">
        <div class="row">
            <div class="col-xs-4 text-center">
                <h4>{{user.email}}</h4>
                <img src="../img/user-avatars/1.png" alt="" height="80"/>

            </div>
            <div class="col-xs-8">
                <h5>User Stats</h5>
                <h6>Plans: {{planCount}}</h6>
                <h6>Destinations: {{destinationCount}}</h6>
                <h6>Activities: {{activityCount}}</h6>

            </div>
        </div>
    </div>

    <div class="container">
        <h4>Travel Plans</h4>

        <div class="well user-panner" ng-repeat="plan in user.plans">
            <h5>
                <a ng-href="">{{plan.destName}}</a>
                <span ng-show="plan.active" class="label label-warning">{{Active}}</span>
                <span ng-show="!plan.active" class="label label-default">{{Inactive}}</span>
            </h5>

            <ul>
                <li ng-repeat="activity in plan.activities">
                    <h6>{{activity.startTime}}:  {{activity.venue.name}}</h6>
                </li>
            </ul>

        </div>
    </div>



</div>