<div class="jumbotron">
    <div class="container-fluid">
        <h2 class="text-center">Attractions</h2>

        <div class="row filters bg-primary text-center">
            <div class="col-sm-4">
                <label>Filter By Category</label><br>
                <div class="btn-group">
                    <label class="btn btn-info" ng-repeat="category in attractionCategories"
                           ng-model="category.val" btn-checkbox checked="category.val">
                        {{category.cat}}
                    </label>
                </div>
            </div>
            <div class="col-sm-4">
                <label>Filter By Venue Name</label><br>
                <input class="form-control" type="text" name="name" placeholder="Venue Name"
                       ng-model="filterParams.name"/>
            </div>
            <div class="col-sm-4">
                <label>Sort By</label><br>
                <div class="btn-group">
                    <label class="btn btn-info" ng-repeat="sort in attractionSorts"
                           ng-click="sorter(sort.sort)"
                           ng-model="attractionSortDefault.value" btn-radio="sort.sort">
                        {{sort.display}}
                        <i ng-show="orderProp==sort.sort && direction" class="fa fa-sort-desc"></i>
                        <i ng-show="orderProp==sort.sort && !direction" class="fa fa-sort-asc"></i>
                    </label>

                </div>
            </div>
        </div>

        <div class="well venue-result" ng-click="addVenue(attraction);"
             ng-repeat="attraction in venues.attractions | filterVenues: filterParams
                | orderBy: orderProp: direction"
             ng-class="{'selectedVenue': (tempSelectedVenues.indexOf(attraction) > -1)}">
            <div class="row">
                <div class="col-sm-2 venue-img"><!--venue img here--></div>
                <div class="col-sm-10">
                    <div class="h5">
                        <div class="row">
                            <div class="col-sm-10">
                                <a ng-href="#/venues/{{attraction.id}}">
                                    {{attraction.name}}
                                </a>
                            </div>
                            <div class="col-sm-1">
                                <span style="color:#{{attraction.ratingColor}};">
                                    {{attraction.rating}}
                                </span>
                            </div>
                            <div class="col-sm-1">
                                <span class="badge">
                                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                                    &nbsp;{{attraction.specials.count}}
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="p">
                        <div class="row" ng-show="attraction.location.address">
                            <div class="col-sm-12">
                                <i class="fa fa-map-marker"></i>
                                <a ng-href="http://maps.google.com/?q={{attraction.location.address}}, {{attraction.location.city}}, {{attraction.location.state}},{{attraction.location.postalCode}}"
                                   target="_blank">
                                    {{attraction.location.address}}, {{attraction.location.city}},
                                    {{attraction.location.state}} {{attraction.location.postalCode}}
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5" ng-show="attraction.contact.formattedPhone">
                                <i class="fa fa-phone-square"></i>
                                <a ng-href="tel:{{attraction.contact.phone}}">
                                    {{attraction.contact.formattedPhone}}
                                </a>
                            </div>
                            <div class="col-sm-3" ng-show="attraction.url">
                                <i class="fa fa-link"></i>
                                <a ng-href="{{attraction.url}}" target="_blank">Website</a>
                            </div>
                            <div class="col-sm-2" ng-show="attraction.stats.checkinsCount">
                                <i class="fa fa-foursquare"></i>
                                {{attraction.stats.checkinsCount}}
                            </div>
                            <div class="col-sm-2" ng-show="attraction.location.distance">
                                <i class="fa fa-car"></i>
                                {{attraction.location.distance*0.000621371 | number:0}} mi
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <tabset>
             <tab ng-repeat="category in categories" heading="{{category}}">
                    <!--hasCategory filter function for filter venues
                        <h5 class="margin-top-zero"><a ng-href="#/venues/{{venue.id}}">{{venue.name}}</a></h5>
                        <h5>{{venue.contact.phone}}</h5>
                        <h5>{{venue.rating}}</h5>
                        <h5 ng-repeat="category in venue.categories">{{category.shortName}}</h5>
                        <h5>{{venue.location.formattedAddress}}</h5>
                    </div>
                </tab>
            </tabset>-->

        <!--filter param model-->
        <!--name:<input class="form-control" type="text" name="name" ng-model="filterParams.name"/>
        state: <input class="form-control" type="text" name="state" ng-model="filterParams.state"/>


    <!--filter param model, using with REAL data-->
        <!--name:<input class="form-control" type="text" name="name" ng-model="filterParams.name"/>-->
        <!--state: <input class="form-control" type="text" name="state" ng-model="filterParams.state"/>-->

        <!--<div class="well" ng-repeat="venue in venues | filterVenues: filterParams: attraction | orderBy:'sortParam'">-->

        <!--<h5 class="margin-top-zero"><a ng-href="#/venues/{{venue.id}}">{{venue.name}}</a></h5>-->
        <!--<h5>{{venue.contact.phone}}</h5>-->
        <!--<h5>{{venue.rating}}</h5>-->
        <!--<h5 ng-repeat="category in venue.categories">{{category.shortName}}</h5>-->
        <!---->
    </div>
</div>