<!-- 
 This new template is meant to serve the same purpose of venueSelect.html
 -->

<div class="container-fluid rd-full-height venue-selector-container">
	<div class="row row-no-space rd-full-height">
		<div class="col-md-9 rd-full-height venue-selector">
			<div class="row row-no-space">
				<div class="col-md-12 venue-filters">
					
				</div>
			</div>
			<div class="row row-no-space rd-full-height">
				<div class="col-md-6 rd-full-height venue-options">
					<div class="venue-card-container">
						<div venue-option venue="venue" class="venue-option-card" ng-repeat="venue in venues" ng-click="showVenueDetails(venue)"></div>
					</div>
				</div>
				<div class="col-md-6 rd-full-height venue-selector-map">
					
				</div>
			</div>
		</div>

		<div class="col-md-3 rd-full-height venue-elections">
			<div class="venue-categories rd-full-height">
				<div venue-election="venue"  ng-repeat="venue in electedVenues"></div>
			</div>
		</div>
	</div>
</div>