<div class="jumbotron">
    <div class="container-fluid">
        <div class="well">
            <a href="#/" class="btn btn-info pull-right" role="button">Change?</a>
            <h3>Destination: <u><a href="http://maps.google.com/?q={{destination.destAddr}}" target="_blank">
                {{destination.destAddr}}</a></u>
            </h3>
        </div>

        <tabset justified="true">
            <tab ng-repeat="steps in venueCategories"
                 heading="{{venueCategories.indexOf(steps)+1}}. Select {{steps.category}}">
                <h4 class="text-center">{{steps.category}}</h4>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default filters">
                            <div class="panel-heading text-center" ng-click="hide=!hide">
                                Filters &nbsp;
                                <i class="fa fa-plus-circle" ng-show="hide"></i>
                                <i class="fa fa-minus-circle" ng-show="!hide"></i>
                            </div>
                            <div class="panel-body" ng-show="!hide">
                                <div class="row">
                                    <div class="col-md-{{steps.filterCat.length || 0}}" ng-hide="steps.category=='Hotels'">
                                        <label>Filter By Category</label><br>
                                        <div class="btn-group">
                                            <label class="btn btn-info" ng-repeat="category in steps.filterCat"
                                                   ng-model="category.val" btn-checkbox checked="category.val">
                                                {{category.cat}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-{{12-steps.filterCat.length-steps.sortCat.length-1}}">
                                        <label>Filter By Name</label><br>
                                        <input class="form-control" type="text" name="name" placeholder="Venue Name"
                                               ng-model="filterParams.name"/>
                                    </div>

                                    <div class="col-md-{{steps.sortCat.length+1}}">
                                        <label>Sort By</label><br>
                                        <div class="btn-group">
                                            <label class="btn btn-info" ng-repeat="sort in steps.sortCat"
                                                   ng-click="sorter(sort.sort)"
                                                   ng-model="steps.sortDefault" btn-radio="sort.sort">
                                                {{sort.display}}
                                                <i ng-show="orderProp==sort.sort && direction" class="fa fa-sort-desc"></i>
                                                <i ng-show="orderProp==sort.sort && !direction" class="fa fa-sort-asc"></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well selected-venues" ng-show="tempSelectedVenues.attractions.length ||
                                                           tempSelectedVenues.restaurants.length ||
                                                           tempSelectedVenues.hotels.length">

                    <button class="btn btn-warning pull-right" ng-show="tempSelectedVenues.attractions.length ||
                                                          tempSelectedVenues.restaurants.length ||
                                                          tempSelectedVenues.hotels.length"
                            ng-click="saveActivities()">
                        Done &amp; Schedule Plan
                    </button>
                    <h5>Your Selections</h5>

                    <div class="p">
                        <ul ng-repeat="listType in tempSelectedVenues">
                            <li ng-repeat="item in listType">{{item.name}}</li>
                        </ul>
                    </div>

                    <button class="btn btn-default pull-right" ng-show="collapse" ng-click="collapse=!collapse">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                    <button class="btn btn-default pull-right" ng-show="!collapse" ng-click="collapse=!collapse">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                </div>

                <div class="well venue-result" ng-click="addVenue(venueItem,steps.list);"
                     ng-repeat="venueItem in steps.items | filterVenues: filterParams
                        | orderBy: orderProp: direction"
                     ng-class="{'selectedVenue': (tempSelectedVenues[steps.list].indexOf(venueItem) > -1)}">
                    <div class="row">
                        <div class="col-sm-2 venue-img"><!--venue img here--></div>
                        <div class="col-sm-10">
                            <div class="h5">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <a ng-href="#/venues/{{venueItem.id}}">
                                            {{venueItem.name}}
                                        </a>
                                    </div>
                                    <div class="col-sm-2" style="margin-right: 0;">
                                        <span style="color:#{{venueItem.ratingColor}};" ng-show="venueItem.rating!=-1">
                                            <i class="fa fa-star-o"></i>
                                            {{venueItem.rating}}
                                        </span>
                                    </div>
                                    <div class="col-sm-1">
                                        <span ng-show="venueItem.price.tier==1">$</span>
                                        <span ng-show="venueItem.price.tier==2">$$</span>
                                        <span ng-show="venueItem.price.tier==3">$$$</span>
                                        <span ng-show="venueItem.price.tier==4">$$$$</span>
                                    </div>
                                    <div class="col-sm-1">
                                        <span class="badge" ng-show="venueItem.specials.count">
                                            <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                                            &nbsp;{{venueItem.specials.count}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="p">
                                <div class="row" ng-show="venueItem.location.address">
                                    <div class="col-sm-12">
                                        <i class="fa fa-map-marker"></i>
                                        <a ng-href="http://maps.google.com/?q={{venueItem.location.address}}, {{venueItem.location.city}}, {{venueItem.location.state}},{{venueItem.location.postalCode}}"
                                           target="_blank">
                                            {{venueItem.location.address}}, {{venueItem.location.city}},
                                            {{venueItem.location.state}} {{venueItem.location.postalCode}}
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <i class="fa fa-phone-square" ng-show="venueItem.contact.formattedPhone"></i>
                                        <a ng-href="tel:{{venueItem.contact.phone}}"
                                           ng-show="venueItem.contact.formattedPhone">
                                            {{venueItem.contact.formattedPhone}}
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                        <i class="fa fa-link" ng-show="venueItem.url"></i>
                                        <a ng-show="venueItem.url"
                                           ng-href="{{venueItem.url}}" target="_blank">Website</a>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="fa fa-foursquare" ng-show="venueItem.stats.checkinsCount"></i>
                                        {{venueItem.stats.checkinsCount | number:0}}
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="fa fa-car" ng-show="venueItem.location.distance"></i>
                                        <span ng-show="venueItem.location.distance">
                                            {{venueItem.location.distance*0.000621371 | number:0}} mi
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well" ng-hide="steps.items || venues.length">
                    <p class="text-center">No results.<br>
                        <span class="h4"><a href="#/">Go Back &amp; Try Again</a></span>
                    </p>
                </div>
            </tab>
        </tabset>
    </div>
</div>