<div class="container">
    <h3>Schedule Your Activities</h3>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 calendar-container">
                <div class="calender" ui-calendar="uiConfig.calendar" ng-model="uiModel.eventSources"></div>
            </div>

            <div class="col-sm-4 unscheduled-container todo">
                <div class="todo-search">
                    <input class="todo-search-field" type="search" value="" placeholder="Search" ng-model="uiModel.activityFilter">
                </div>
                <ul class="unscheduled-list">
                    <li class="unscheduled-item"
                        ng-repeat="activity in uiModel.unscheduledActivities | filter: {title: uiModel.activityFilter} "
                        ng-model="activity"
                        jqyoui-draggable
                        data-jqyoui-options="{revert: false, helper: 'clone'}"
                        data-drag="true"
                    >
                        <div class="todo-content">
                            <h4 class="todo-name">{{activity.venue ? activity.venue.name : ''}}</h4>
                            {{activity.venue ? activity.venue.categories[0] : ''}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</div>
